<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Predictor Website</title>
</head>
<body>
    <h1>Stock Prediction</h1><br>
<form method="POST" action ="/">
    <label for="stock">Enter Stock Symbol:</label>
    <input type="text" id="stock" value="Insert Stock Symbol" required>
    <input type="submit" value="Predict">
</form>

{% if prediction_message %}
<div class="message">
    <h2>{{ prediction_message }}</h2>
</div>
{% endif %}

</body>
</html>